[submodule "cudd"]
	path = cudd
	url = https://github.com/ivmai/cudd.git
[submodule "mockturtle"]
	path = mockturtle
	url = https://github.com/lsils/mockturtle.git
[submodule "buddy_c"]
	path = buddy_c
	url = https://github.com/MyskYko/BuDDy.git
