[submodule "lib/cudd"]
	path = lib/cudd
	url = https://github.com/ivmai/cudd.git
	ignore = dirty
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/lsils/mockturtle.git
	ignore = dirty
[submodule "lib/buddy"]
	path = lib/buddy
	url = https://github.com/MyskYko/BuDDy.git
	ignore = dirty
[submodule "lib/cacbdd"]
	path = lib/cacbdd
	url = https://github.com/soga-denken/cacBDD.git
	ignore = dirty
